#collapsibleNavbar {
  font-size: 20px;
  margin-left: 50px;
}

.navbar-nav{
  width: max-content;
  margin: auto;

}

.collapse li {
  /*margin: 10px 80px;*/
  padding-right: 100px;
  float: center;
}

nav {
  width: 100%;
  overflow: hidden;
  background-color: white;
}

@media(max-width:1200px)  {
  .navbar-collapse {
    background-color: white;
  }
}

.collapse li a {
  font-weight: bold;
}