/*navigation bar*/

#collapsibleNavbar {
  font-size: 20px;
}

.navbar-nav{

  margin: auto;
  display: flex;
  flex-shrink: 1;
}

.empty {
  height: 30px;
  width: 100%;
  background-color: rgb(40, 107, 159);
  z-index: 2;
}



nav {
  display: inline-block;
  height: 80px;
  border-bottom: 1px solid grey;;
  z-index: -2
}

.nav-link {
  align-items: left;
}

.wrapper{
	margin: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: white;
  position: fixed;
}

.collapse li {
  /*margin: 10px 80px;*/
  margin-right: 90px;
 /*transform: translate(90%, 0);*/
}

@media(max-width:1200px)  {
  .navbar {
    background-color: white;
  }
  .wrapper {
    position: fixed;
  }
  .btn-group {
    transform: translate(0,-50px);
  }
  .navbar li {
    border-top: 1px solid rgb(225, 225, 225);
  }
  .nav-item-last {
    border-bottom: 1px solid rgb(225, 225, 225);
  }
  .collapse {
    padding-left: 0;
  }
}

@media only screen and (max-device-width: 600px) {
  .column{
    padding-right: 200px;
    padding-left: 50px;
  }

  .column :not(.links) {
    padding-left: 50px;
  }
}


/*slideshow*/

.title{
 /* background-color: rgba(30, 57, 81, 0.722);*/
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 250px;
  left: 60px;
  color:black;
  padding: 50px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.797);
}

.top img {
  max-width:100%;
}

.boxTitle {
  font-size: 3vw;
}

.mission {
  font-size: 1.5vw;
}


.mySlides {
  position: absolute;
  transform: translate(0,40px);
  z-index: -2;
  top: 70px;
  right: 0;
  width: 110%;
  min-height: 645px;
  max-height: 645px;
  object-fit: cover;
}


#right {
  float: right;
  top: 0;
  right:0;
}

#left, #right {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top: 220px;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  transform: translate(0, -400%);
  z-index: -1;
}

#left:hover, #right:hover {
  background-color: rgba(0, 0, 0, 0.543);
}

/*content*/

.content h2{
  text-align: center;
  color:  rgb(40, 107, 159);
}

.content {
top: 850px; 
position: absolute;
left: 0;
right: 0;
}

.content h5 {
  text-align: center;
  color: grey;
}


/* footer*/

.links a, .contact a {
  color: rgb(108, 105, 105);

}

.links a:hover, .contact a:hover {
  text-decoration:bold;
  color: black;
}

.column {
  float: left;
  margin-right: auto;
  position: relative;
  width: 25%;
}

.footer {
  overflow: hidden;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.linkslist {
  list-style-type: none;
  width: 100%;
}

.footer{
  text-align:center;
  margin-top: 1000px;
  top: 80px;
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
}

.footerPic {
  margin-top: 300px;
  height:200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.column, .footer h3 {
  font-size: 1.1em;
}

.links h3 {
  margin-left: 40px;
}

.contact img {
  height: 25px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.navigation {
  left: 300px;
}

.top {
  margin-top: 547px;
}


/*buttons*/

.btn-group {
  top: 740px;
}

.btn-group:not(:first-child) {
  border-right: 1px solid #ddd;
}

.btn-group button {
  background-color:  rgb(40, 107, 159); /* Green background */
  border-right: 1px solid;
  border-color: white;
  color: white; /* White text */
  padding: 20px 23px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border-top: 0;
  border-bottom: 0;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(40, 107, 159);;
  transition: 0.6s ease;
}

