#collapsibleNavbar {
  font-size: 20px;
}

.navbar-nav{
  width: max-content;
  margin: auto;
  display: flex;
  flex-shrink: 1;
}

.collapse li {
  /*margin: 10px 80px;*/
  padding-left: 50px;
  padding-right: 50px;
  /*transform: translate(-20%, 0);*/
}

.empty {
  height: 20px;
}

nav {
  display: inline-block;
  background: white;
  position: sticky;
  width: 100%;
}


.mySlides {
  position: absolute;
  /*transform: translate(0,0);*/
  width: 100%;
  height: 75%;
  z-index:-2;
  top: 0;
  right:0;
}


#right {
  float: right;
  top: 0;
  right:0;
}

#left, #right {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top: 125px;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  transform: translate(0, -400%);
  z-index: -1;
}

#left:hover, #right:hover {
  background-color: rgba(0, 0, 0, 0.543);
}


@media(max-width:1200px)  {
  .navbar {
    background-color: white;
  }
}

.content h2{
  text-align: center;
  color: rgb(86, 164, 223);
}

.content {
top: 77%;
position: absolute;
left: 0;
right: 0;
}

.content h5 {
  text-align: center;
  color: grey;
}


.links a, .contact a {
  color: rgb(108, 105, 105);

}

.links a:hover, .contact a:hover {
  text-decoration:bold;
  color: black;
}

.wrapper{
  position: sticky;
	margin: 0px;
  top: 0px;
  z-index: 10;
  position: sticky;
}

/*html {
  height: 110%;
  margin-bottom: 0.01em;
}*/



.column {
  float: left;
  width: 20%;
  margin-left: 40px;
  margin-right: auto;
  position: relative;
}

.location {
  margin:0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.linkslist {
  float: middle;
  margin-right: 40px;;
  vertical-align: middle;
  list-style-type: none;

}

.footer{
  text-align:center;
  width: 100%;
  margin-top: 1235px;
  padding:0;
  position: absolute;
  overflow: hidden;
}

.footerPic {
  margin-top: 300px;
  height:200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.column, .footer h3 {
  font-size: 1.1em;
}

.contact img {
  height: 25px;
  padding-right: 10px;
}

.contact img {
  margin-bottom: 5px;
}

.quick {
  margin-right: 15px;
}

.location {
  right: 300px;
}
.navigation {
  left: 300px;
}


/* buttons */
.btn-group {
  top: 575px;
  left: 10%;
}

.btn-group button {
  background-color:  rgba(250, 250, 250, 0.831); /* Green background */
  border: none; /*Green border */
  color: rgb(86, 164, 223); /* White text */
  padding: 20px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-weight: bold;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color:   rgba(0, 0, 0, 0.543);
  transition: 0.6s ease;
}