/*navigation bar*/

#collapsibleNavbar {
  font-size: 20px;

}

.navbar-nav{
  width: max-content;
  margin: auto;
  display: flex;
  flex-shrink: 1;
}

.collapse li {
  /*margin: 10px 80px;*/
  padding-left: 50px;
  padding-right: 50px;
  /*transform: translate(-20%, 0);*/
}

nav {
  display: inline-block;
}

.nav-link {
  font-weight: bold;
}

.wrapper{
	margin: 0px;
  top: 0px;
  z-index: 10;
  width: 100%;
}

@media(max-width:1200px)  {
  .navbar {
    background-color: white;
  }
  .wrapper {
    position: fixed;
  }
}


/*slideshow*/


.title{
 /* background-color: rgba(30, 57, 81, 0.722);*/
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 360px;
  left: 60px;
  color:black;
}

.boxTitle {

  font-weight: bold;
  font-size: 350%;
}


.mySlides {
  position: absolute;
  /*transform: translate(0,0);*/
  z-index:-2;
  top: 0;
  right:0;
  width: 100%;
  max-height:710px;
  min-height: 650px;
}


#right {
  float: right;
  top: 0;
  right:0;
}

#left, #right {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top: 125px;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  transform: translate(0, -400%);
  z-index: -1;
}

#left:hover, #right:hover {
  background-color: rgba(0, 0, 0, 0.543);
}

/*content*/

.content h2{
  text-align: center;
  color: rgb(86, 164, 223);
}

.content {
top: 750px; 
position: absolute;
left: 0;
right: 0;
}

.content h5 {
  text-align: center;
  color: grey;
}


/* footer*/

.links a, .contact a {
  color: rgb(108, 105, 105);

}

.links a:hover, .contact a:hover {
  text-decoration:bold;
  color: black;
}

.column {
  float: left;
  margin-right: auto;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.linkslist {
  float: middle;
  margin-right: 40px;;
  vertical-align: middle;
  list-style-type: none;

}

div.footer{
  text-align:center;
  margin-top: 1300px;
  padding:0;
  top: 80px;
  left: 0;
  overflow: auto;
  white-space: nowrap;
}

.column {
  display: inline-block;
  position: absolute;
}

.content {
  display: inline-block;
}

.footerPic {
  margin-top: 300px;
  height:200px;
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.column, .footer h3 {
  font-size: 1.1em;
}

.links h3 {
  margin-left: 40px;
}

.column {
  width: 25%;
}


.contact img {
  height: 25px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.navigation {
  left: 300px;
}

.top {
  margin-top: 547px;
}


/*buttons*/

.btn-group {
  top: 650px;
}

.btn-group button {
  background-color:  rgb(86, 164, 223); /* Green background */
  border: none; /*Green border */
  color: white; /* White text */
  padding: 20px 23px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-weight: bold;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color:   rgba(0, 0, 0, 0.543);
  transition: 0.6s ease;
}
