ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

body {
    background-color: lightgrey;
}

h2 {
    color: rgb(86, 83, 83);
    font-size: 17px;
    font-family: 'Baloo 2';
}

.btn {
    color: white;
    background-color: rgb(240, 191, 100);
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid rgb(235, 154, 4);
}